{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'lista_compras/style.css' %}">
</head>
<body>
    <div class="auth-box">
        <h2>Criar Conta</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar</button>
        </form>
        <p style="margin-top: 20px; font-size: 14px;">
            Já tem conta? <a href="{% url 'login' %}">Faça Login</a>
        </p>
    </div>
</body>
</html>